@inherits LayoutComponentBase

<div class="page">
    <header class="top-row">
        <h2>FHIR Patient Timeline</h2>
        <a href="/patient-timeline">Patient Timeline</a>
    </header>

    <main>
        @Body
    </main>
</div>
